

:root {
  --primary-orange: #fc8019;
  --secondary-orange: #ff914d;
  --gray: #f5f5f5;
  --dark-gray: #333;
  --white: #fff;
  --input-border: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}